.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background-color: #fff !important;
  font-family: "Poppins", sans-serif;
}

.navbar-brand img {
  width: 120px;
  transition: transform 0.3s ease;
}

.navbar-brand img:hover {
  transform: scale(1.05);
}

.nav-link {
  color: #333 !important;
  font-weight: 500;
  margin: 0 10px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.nav-link:hover {
  color: #0b7beb !important;
  transform: translateY(-2px);
}

/* .nav-item .active {
  border-bottom: 2px solid #1a73e8;
} */

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }

  .nav-link {
    display: inline-block;
    padding: 10px;
  }
}